body {
  margin: 0;
  background: grey;
}

.calenderContainer {
  width: 100%;
  height: 90vh;
}

.calender {
  background: lightGrey;
  width: 75%;
  height: inherit;
  float: left;
}

.CalenderHeader {
  height: 15%;
  width: 100%;

  border-bottom: solid 2.5px black;
  border-top: solid 2.5px black;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.calenderBottom {
  background-color: gray;
  height: 80vh;
}

.HeaderItem {
  background: grey;
  flex: 10px;
}

.rust {
  background-color: rgb(232, 76, 34);
}

.Table {
  height: 80vh;
}

.Rows {
  align-items: stretch;
  flex: 1 0 0;
  display: flex;
  flex-direction: row;
}

.rowHeader {
  height: 5%;
  flex: 1 0 0;
  border-right: solid 2.5px black;
  background-color: #59a5d8;
}

.calenderItem {
  flex: 1 0 0;
  background-color: #fdf9f1;
  border-right: solid 2.5px black;
  border-top: solid 2.5px black;
  min-height: 115px;
  padding-top: 30px;
  position: relative;
}

#left {
  border-left: solid 2.5px black;
}

.left {
  border-left: solid 2.5px black;
}

.bot {
  border-bottom: solid 2.5px black;
}

.calenderItem::after {
  content: attr(data-date);
  position: absolute;
  display: block;
  top: 1px;
  right: 3px;
  font-weight: bold;
}
.calenderItem::after:after {
  background-color: red;
}

.addingItem {
  flex: 1 0 0;
  width: 25%;
  float: left;
  height: inherit;
  text-align: center;
}

.addingTop {
  background-color: white;
  height: 15%;
  width: 100%;
}

.addingBot {
  height: 85%;
  background-color: grey;
}

.formtab {
  height: 100%;
}

.infoTab {
  height: 100%;
}

.updateTab {
  height: 100%;
}
